//==================== Variables SCSS ===================//
// Color 
$primary-color: red;
$secondary-color: yellow;
$background-color: green;
$accent-color: blue;
$primary-text-color: aqua;
$secondary-tex-color: rgb(216, 137, 137);

// Font

$primary-font: "Arial";
$secondary-font: "Arial";


@mixin nom {
    
}

@mixin nom {

}

@mixin nom {

}

//================= Animation ============//

@keyframes identifier {
    
}

@keyframes identifier {
    
}

@keyframes identifier {
    
}