//======================================================//
            // Creator :Pierre Antoniutti //
//======================================================//

//============== STYLE SCSS ================//

//------------ IMPORT --------//

@import '_variable';
@import '_media';
@import '_index';
//------------ START --------//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ;
}